{% extends 'policestation/index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h3 style="text-align: center">Criminal management</h3>
<form action="/update_criminal_post/{{ data.id }}" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1" class="table table-bordered">
    <tr>
      <th scope="row">Category</th>
      <td>
        <select name="select" id="select" class="form-control">
            {% for i in data1 %}
{#                <option value="{{ i.id }}">{{ i.category_name }} </option>#}
                <option value="{{ i.id }}" {% if i.id == data.CATEGORY_id %} selected {% endif %}>{{ i.category_name }}</option>
            {% endfor %}
      </select></td>
    </tr>
    <tr>
      <th scope="row">name</th>
      <td>
      <input type="text" name="textfield" id="textfield" value="{{ data.name }}" class="form-control" required /></td>
    </tr>
    <tr>
      <th scope="row">gender</th>
      <td><input type="radio" name="RadioGroup1" value="male" id="RadioGroup1_0"
                 {% if data.gender == 'female' %} checked {% endif %}/>female
          <input type="radio" name="RadioGroup1" value="female" id="RadioGroup1_1"
                {% if data.gender == 'male' %} checked {% endif %}/>male
      </td>
    </tr>
    <tr>
      <th scope="row">age</th>
      <td>
      <input type="text" name="textfield2" id="textfield2" value="{{ data.age }}" class="form-control" required /></td>
    </tr>
    <tr>
      <th scope="row">place</th>
      <td>
      <input type="text" name="textfield3" id="textfield3" value="{{ data.place }}"class="form-control" required /></td>
    </tr>
    <tr>
      <th scope="row">post</th>
      <td>
      <input type="text" name="textfield4" id="textfield4" value="{{ data.post }}" class="form-control" required /></td>
    </tr>
    <tr>
      <th scope="row">pin</th>
      <td>
      <input type="tel" name="textfield5" id="textfield5" value="{{ data.pin }}" pattern="[6][0-9]{5}" class="form-control" required /></td>
    </tr>
    <tr>
      <th scope="row">contact</th>
      <td>
      <input type="tel" name="textfield6" id="textfield6" value="{{ data.contact }}" pattern="[0-9]{10}" class="form-control" required /></td>
    </tr>
    <tr>
      <th scope="row">ID proof</th>
      <td>
          <input type="file" name="fileField" id="fileField" class="form-control" required /><a href="{{ data.id_proof }}">view pdf</a></td>
    </tr>
    <tr>
      <th scope="row">photo</th>
      <td>
      <input type="file" name="fileField2" id="fileField2" class="form-control" required  /><img src="{{ data.photo }}" width="100px" height="100px" alt=""/></td>
    </tr>
    <tr>
        <th colspan="2" scope="row"><div align="center"><input type="submit" name="button" id="button" value="Update" class="btn btn-success" /></div></th>
    </tr>
  </table>
</form>
</body>
</html>


{% endblock %}