{% extends 'policestation/index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h3 style="text-align: center">View User</h3>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered">
    <tr style="color: black;background:#84c459">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">contact</th>
      <th scope="col">Email</th>
      <th scope="col">photo</th>
{#      <th scope="col">id_proof</th>#}
      
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td> {{ i.name }}</td>
      <td> {{ i.place }}<br>{{ i.post }}<br>{{ i.pin }}</td>
      <td>&nbsp;{{ i.contact }}</td>
      <td>&nbsp;{{ i.email }}</td>
      <td>&nbsp;<img src="{{ i.photo }}" width="100px" height="100px"> </td>
{#      <td>&nbsp;{{ i.id_proof }}</td>#}
      
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>


{% endblock %}