{% extends 'policestation/index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h3 style="text-align: center">View Profile</h3>
<form id="form1" name="form1" method="post" action="">

<table width="200" border="1" class="table table-bordered" style="border-color: #84c459">
  <tr align="center">
    <th scope="row">Name</th>
    <td>{{ data.name }}</td>
  </tr>
  <tr align="center">
    <th scope="row">Place</th>
    <td>{{ data.place }}</td>
  </tr>
  <tr align="center">
    <th scope="row">Post</th>
    <td>{{ data.post }}</td>
  </tr>
  <tr align="center">
    <th scope="row">Pin</th>
    <td>{{ data.pin }}</td>
  </tr>
  <tr align="center">
    <th scope="row">Email</th>
    <td>{{ data.email }}</td>
  </tr>
  <tr align="center">
    <th scope="row">Contact</th>
    <td>{{ data.contact }}</td>
  </tr>
</table>
</form>
</body>
</html>


{% endblock %}