{% extends 'admin/index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h3 style="text-align: center ">police station management</h3>
<form id="form1" name="form1" method="post" action="/update_police_post/{{ data.id }}">
    {% csrf_token %}
  <table width="200" border="1" align="center" class="table table-bordered">
    <tr>
      <th scope="row">Name</th>
      <td>
      <input type="text" name="textfield" id="textfield" value="{{ data.name }}" class="form-control" required /></td>
    </tr>
    <tr>
      <th scope="row">Place</th>
      <td>
      <input type="text" name="textfield2" id="textfield2" value="{{ data.place }}" class="form-control" required /></td>
    </tr>
    <tr>
      <th scope="row">Post</th>
      <td>
      <input type="text" name="textfield3" id="textfield3" value="{{ data.post }}" class="form-control" required /></td>
    </tr>
    <tr>
      <th scope="row">pin</th>
      <td>
      <input type="tel" name="textfield4" id="textfield4" pattern="[6][0-9]{5}" value="{{ data.pin }}" class="form-control" required /></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>
      <input type="text" name="textfield5" id="textfield5" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" value="{{ data.email }}"class="form-control" readonly /></td>
    </tr>
    <tr>
      <th scope="row">Contact No</th>
      <td>
      <input type="tel" name="textfield6" id="textfield6"  pattern="[0-9]{10}" value="{{ data.contact }}" class="form-control" required /></td>
    </tr>

    <tr>    
        <th colspan="2" scope="row"><div align="center"><input type="submit" name="button" id="button" value="Update" class="btn btn-success" /></div></th>
    </tr>
  </table>
</form>
</body>
</html>


{% endblock %}